* {      
    text-align:center;
    padding:0;
}

  h1 {
    border: 5px solid rgb(250, 100, 212);
    position: fixed;
    font-family: "Copperplate Gothic";
    color: rgb(47, 255, 151);
    top:0px;
    z-index:10;
    font-size: 40px;
    display:block;
    width:100%;
    background-color: white;
  }

  #subtitle {
      position: relative;
      top: 60px;
      font-size:25px;
      margin-bottom:60px;
  }

 #box1 {
    background: red;
    color: white;
    border: darkred;
    position: absolute;
    z-index: 1;
    opacity: 1;
    width: 100%;
}

#box2 {
    background: blue;
    color: white;
    border: darkblue;
    position: absolute;
    z-index: 2;
    opacity: 0;
    width: 100%;
}

#box2:hover {
    opacity: 1;
}

#box1, #box2 {
    top: 100px;
}

.wrong:checked {
    outline: 3px solid red;
    color: white;
}

.right:checked {
    outline: 3px solid green;
    color: white;
}

#quiztext {
    color:aqua;
    background-color: black;
}

.inline {
    display: inline;
    opacity: 0;
}

.normal {
    font-family:cursive !important;
    color: rgb(224, 178, 222) !important;
}

nav {
    border: 1px solid sandybrown;
    position:fixed;
    bottom:5px;
    right:10px;
    height:125px;
    width:200px;
}

a {
    color: goldenrod;
    padding: auto;
}

li {
    list-style: circle;
}

table {
    margin: 10px auto;
    width: 500px;
}

td, th {
    border: 4px solid royalblue;
}

/* */
.red {
    color:red !important;
    font-family: cursive;
    width:100%;
}

.green {
    color:springgreen !important;
    font-family: cursive;
    width:100%;
}

.colorex {
    background-color: lightsteelblue;
}

#label31 {
    font-size: 11px;
}

#answer14 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.rangex {
    font-family: Consolas;
    font-size: 13px;
    color: grey;
}

[id*='label'] {
    font-family: Rockwell;
    color: red;
}

#explain {
    padding-top: 0px;
    margin-top: 0px;
}

th {
    font-size: 25px;
    color: blueviolet;
}

textarea {
    text-align: left;
  }